<input
  class="form-control"
  [(ngModel)]="status.creator.username"
  (ngModelChange)="checkUsername()"
  placeholder="Felhasználónév"
  [disabled]="status.isPending()"/>

<input-info
  *ngIf="!status.usernameIsValid()"
  [type]="'default'"
  [text]="'10-25 karakter, betűk és számok'">
</input-info>

<input-info
  *ngIf="status.usernameIsValid() && status.usernameIsChecked()"
  [type]="'default'"
  [text]="'Ellenőrzés'">
</input-info>

<input-info
  *ngIf="status.usernameIsValid() && !status.usernameIsChecked() && !status.usernameIsAvailable()"
  [type]="'error'"
  [text]="'Már használatban van!'">
</input-info>

<input-info
  *ngIf="status.usernameIsValid() && !status.usernameIsChecked() && status.usernameIsAvailable()"
  [type]="'success'"
  [text]="'Elfogadva'">
</input-info>


