<menu-navbar *ngIf="authStatus.isAuthenticated()"></menu-navbar>
<login-navbar *ngIf="!authStatus.isAuthenticated()"></login-navbar>

<h3>Védőnők</h3>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-container">
    <div class="well">
      <p class="name">Dr. Kovács Béla - Fogorvos</p>
      <p class="time">Rendel:</p>
      <p class="slot">Hétfő: 10-18</p>
      <p class="slot">Kedd: 10-18</p>
      <p class="slot">Szerda: 10-18</p>
      <p class="slot">Csütörtök: 10-18</p>
      <p class="slot">Péntek: 10-18</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-container">
    <div class="well">
      <p class="name">Dr. Kovács Béla - Fogorvos</p>
      <p class="time">Rendel:</p>
      <p class="slot">Hétfő: 10-18</p>
      <p class="slot">Kedd: 10-18</p>
      <p class="slot">Szerda: 10-18</p>
      <p class="slot">Csütörtök: 10-18</p>
      <p class="slot">Péntek: 10-18</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-container">
    <div class="well">
      <p class="name">Dr. Kovács Béla - Fogorvos</p>
      <p class="time">Rendel:</p>
      <p class="slot">Hétfő: 10-18</p>
      <p class="slot">Kedd: 10-18</p>
      <p class="slot">Szerda: 10-18</p>
      <p class="slot">Csütörtök: 10-18</p>
      <p class="slot">Péntek: 10-18</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-container">
    <div class="well">
      <p class="name">Dr. Kovács Béla - Fogorvos</p>
      <p class="time">Rendel:</p>
      <p class="slot">Hétfő: 10-18</p>
      <p class="slot">Kedd: 10-18</p>
      <p class="slot">Szerda: 10-18</p>
      <p class="slot">Csütörtök: 10-18</p>
      <p class="slot">Péntek: 10-18</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-container">
    <div class="well">
      <p class="name">Dr. Kovács Béla - Fogorvos</p>
      <p class="time">Rendel:</p>
      <p class="slot">Hétfő: 10-18</p>
      <p class="slot">Kedd: 10-18</p>
      <p class="slot">Szerda: 10-18</p>
      <p class="slot">Csütörtök: 10-18</p>
      <p class="slot">Péntek: 10-18</p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 block-container">
    <div class="well">
      <p class="name">Dr. Kovács Béla - Fogorvos</p>
      <p class="time">Rendel:</p>
      <p class="slot">Hétfő: 10-18</p>
      <p class="slot">Kedd: 10-18</p>
      <p class="slot">Szerda: 10-18</p>
      <p class="slot">Csütörtök: 10-18</p>
      <p class="slot">Péntek: 10-18</p>
    </div>
  </div>
</div>
