<div class="dark-well">
  <p>
    Ezen a felületen gyermekét előjegyezheti <span class="green">betegrendelésre</span>
    illetve <span class="green">tanácsadásra</span>, <span class="green">oltásra</span>.
  </p>
  <p>
    Kérjük, <span class="red">egy</span> időpontot válasszon, változás esetén
    időpontját módosítsa illetve <span class="red">törölje</span>.
  </p>
  <p>
    A betegrendelésre az előjegyzés <span class="green">nem kötelező</span>. Minden beteg gyermeket
    megnézünk. De a várakozási idő csökkentéséhez célszerű időpontot
    foglalni, akár aznapra is.
  </p>
  <p>
    Az oltásra az előjegyzés <span class="red">kötelező</span>! Oltásokat
    kedden 14-16 és szerdán 8-10 óra közt adunk be. Ide <span class="green">csak egészséges</span>
    gyermekkel jöjjenek. Kérem, ha gyermeke beteg lett, a tanácsadási-oltási
    listáról törölje. Szükség esetén betegrendelésen jelentkezzenek.
  </p>
  <p>
    Ha az időpontok telítettek, oltás beadására
    még csütörtökön 14-16 óra közt van mód. Egyéb időpontokban
    sajnos a betegektől való elkülönítést nem tudjuk megoldani.
  </p>
</div>
