h3 {
  text-align: center;
  font-weight: bolder;
  color: white;
}

.dark-well {
  padding: 20px;
}

.block-container {
  padding: 40px;
}

.one-big-text {
  white-space: pre-line;
  text-align: justify;
}

.normal-whitespace {
  white-space: normal;
}
