<menu-navbar *ngIf="authStatus.isAuthenticated()"></menu-navbar>
<login-navbar *ngIf="!authStatus.isAuthenticated()"></login-navbar>

<div id="background">
  <div class="container">
    <p class="hoverable-container">
      Dr. Baranyi Judit vagyok.
      Csecsemő és gyermekgyógyász, továbbá aneszteziológus és intenzívterápiás szakorvosként és mentőrvosként kezdtem meg háziorvosi munkámat 2008 november 1.-től Rákosszentmihályon.
    </p>

    <p class="hoverable-container">
      Az alapellátásban szeretném hasznosítani mindazt a tapasztalatot és kapcsolatot, amit az elmúlt 16 évben kórházi munkám során szereztem. A modern farmakológiai és diagnosztikus módszerek, lehetőségek mellett, adott esetben azok ellenére fontosnak, sőt alapvetőnek tartom az egészségre, egészséges életre nevelést, a természetes gyógymódokat, a szervezet öngyógyító lehetőségeinek segítését.
    </p>
    <p class="hoverable-container">
      Az alapellátás mellett továbbra is dolgozom a Heim Pál Gyermekkórház Intenzív osztályán.
    </p>
    <p class="hoverable-container">
      A Hősök terei rendelésen asszisztensnőm Farkas András Sándorné Gyöngyike.
    </p>

    <p class="hoverable-container">
      A rendelőnkről:<br>
      A betegrendelőnk a magasföldszinten jobb kéz felől található.<br>
      A betegrendelésen minden gyermeket megnézünk, de a várakozási idő lecsökkentésére érdemes időpontot kérni.<br>
      A tanácsadás, oltások a magasföldszinten bal oldalon, a betegektől teljesen elválasztva történik kizárólag előjegyzett, egészséges gyermekek számára.<br>
      A fertőző betegek ellátása a betegrendelés idején soronkívül, a Fertőző Elkülönítőben történik /magasföldszinten egyenesen/. Ha fertőző gyermekkel érkezett az Elkülönítő folyosó végén lévő ajtón kopogtasson: ez a rendelőm hátsó kijárata.<br>
      Ugyanitt lehetőség van súlyosabb betegek néhány órás megfigyelésére, esetlegesen infúziós folyadékpótlásra.
    </p>
    <p class="hoverable-container">
      Laborvizsgálatok:<br>
      A laborvizsgálatokhoz beutaló szükséges, melyet ea rendelésen kapnak.<br>
      Laborvizsgálat <br>
      &nbsp;&nbsp;1. helyben a Hősök terei rendelő első emeletén, csak kedd, szedra, csütörtöki napokon. Időpontot a portán kell kérni. Eredmény interneten visszajön a rendelőmbe.<br>
      &nbsp;&nbsp;2. a Jókai úton, A Kertvárosi Eü. Szolg /KESz/ központi rendelőjében. Idópontot neten, vagy telefonon kell kérni. Eredmény interneten visszajön a rendelőmbe.<br>
      &nbsp;&nbsp;3. az Őrs Vezér téren a Zuglói Eü. Szolgálat /ZESz/központi rendelőjében mindennap. Időpont nem kell, 7-9 óra közt lehet menni. Az eredményért vissza kell menni.<br>
      A nehezen szúrható, nem kooperáló gyermekek vérvételében a szerdai rendelés elején, 8 órakor a betegrendelőnkben segítünk.
    </p>
    <p class="hoverable-container">
      Szakvizsgálatok:<br>
      A szakrendelőkbe általában beutaló szükséges. Ezt a betegrendelésen adjuk ki.<br>
      Nem kell beutaló<br>
      &nbsp;&nbsp;- szemészetre: időpontfoglalás kell! /pl. ZESz T:4694698/<br>
      &nbsp;&nbsp;- fülészetre /pl. KESz, ZESz, Bethesda Kh., Heim Pál Kh./<br>
      &nbsp;&nbsp;- bőrgyógyászatra: időpontfoglalás kell! /pl. KESz-Erzsébetliget neten az előjegyzési rendszeren át vagy telefonon/<br>
      &nbsp;&nbsp;- nőgyógyászatra: időpontfoglalás kell! /pl. KESz Jókai u.-i kp.-i rendelőbe neten vagy telefonon/
    </p>
    <p class="hoverable-container">
      Recepciószolgálat:<br>
      Rendelőnkben minden munkanapon 15-19:30 közt recepció szolgálat működik a magasföldszinten. Közvetlenül a lépcsővel szemben.<br>
      Itt átvehetőek a megírt receptek, beutalók, igazolások.<br>
      Ezeket a papírokat a betegrendelési időben kérhetik a rendelői /4058740/ telefonszámon.
    </p>

    <p class="hoverable-container">
      Továbbiak a bemutatkozáshoz/ vagy esetleg külön ablakban:
      Helyettesítés:
      A Hősök terei rendelőben négy gyermekorvos rendel. Mindenki a saját szobájában rendel, helyettesítés idején is!
      Párhuzamosan rendelek Dr Lezsák Éva gyermekorvossal. Ő látja el távollétem, szabadságom alatt a gyermekeket.
      Az oltásokra előjegyzetteket beoltja. Minden beteget ellát. Betegrendelési előjegyzésre  azonban a helyettesítés idején nincs mód. Táppénz, igazolás, recept Tőle kérhető.


      Ellentétes rendelési időben dolgozik Dr. Szabó Eleonóra és Dr. Vajda Ildikó. Sürgő esetben a beteg gyermeket megnézik. Oltást nem adnak.Táppénzes papírt, igazolást, állandó gyógyszerekre recepteket nem adnak ki.

      Elérhetőség:
      Dr. Lezsák Éva: 4052376
      Dr. Szabó Eleonóra: 4055137
      Dr. Vajda Ildikó: 4058739

      Az éjszakai és a hétvégi ügyeletet a Heim Pál Kh /T: 06-1-2643314/ és a Bethesda Kh. /06-1-3649020/ látja el.
    </p>
  </div>
</div>
