<menu-navbar *ngIf="authStatus.isAuthenticated()"></menu-navbar>
<login-navbar *ngIf="!authStatus.isAuthenticated()"></login-navbar>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 block-container welcome-container">
      <welcome-content
        *ngIf="!authStatus.isAuthenticated()">
      </welcome-content>

      <dashboard
        *ngIf="authStatus.isAuthenticated()">
      </dashboard>
    </div>
  </div>

</div>
