<menu-navbar></menu-navbar>

<div class="container">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h4>Kérdések</h4>
    <hr>

    <div *ngFor="let faq of status.faqs" class="well">
      <p>{{ faq.question }}</p>
      <button class="btn btn-default btn-block" (click)="openEditor(faq)">
        Szerkesztés
      </button>
    </div>

    <div class="well">
      <button class="btn btn-default btn-block" (click)="openEditor()">
        Új kérdés
      </button>
    </div>
  </div>

  <div *ngIf="status.editorActive" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h4>Szerkesztés</h4>
    <input class="form-control" [(ngModel)]="status.selectedFaq.question" placeholder="Kérdés">
    <hr>
    <textarea class="form-control" [(ngModel)]="status.selectedFaq.text" rows="5" placeholder="Válasz">
    </textarea>
    <hr>

    <select class="btn btn-default" [(ngModel)]="status.selectedFaq.picture1name">
      <option [ngValue]="null" [selected]="status.selectedFaq.picture1name == null">
        -
      </option>
      <option *ngFor="let name of status.imageNames"
              [ngValue]="name" [selected]="name == status.selectedFaq.picture1name">
        {{ name }}
      </option>
    </select>

    <select class="btn btn-default" [(ngModel)]="status.selectedFaq.picture2name">
      <option [ngValue]="null" [selected]="status.selectedFaq.picture2name == null">
        -
      </option>
      <option *ngFor="let name of status.imageNames"
              [ngValue]="name" [selected]="name == status.selectedFaq.picture2name">
        {{ name }}
      </option>
    </select>

    <button class="btn btn-default" (click)="saveFaq()">
      Mentés
    </button>

    <button *ngIf="status.selectedFaq.id" class="btn btn-default" (click)="deleteFaq()">
      Törlés
    </button>

  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
    <form ngNoForm method="POST" enctype="multipart/form-data" action="http://localhost:9000/api/upload/file">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <input type="file" name="file" class="form-control"/>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <input type="submit" value="Upload" class="form-control"/>
      </div>
    </form>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <select class="btn btn-default btn-block" [(ngModel)]="status.preview">
        <option [ngValue]="null" [selected]="status.preview == null">
          -
        </option>
        <option *ngFor="let name of status.imageNames"
                [ngValue]="name" [selected]="name == status.preview">
          {{ name }}
        </option>
      </select>

      <hr>

      <img *ngIf="status.preview"
           class="img-responsive"
           src="ext-images/{{ status.preview }}">
    </div>
  </div>
</div>
