<menu-navbar></menu-navbar>

<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <h4>Felhasználók</h4>
    <div *ngFor="let user of status.users" class="well">
      <p class="flex-line">
        <span>{{ user.username }}</span>
        <span class="glyphicon glyphicon-{{ lastIsUsers(user) ? 'share-alt' : 'envelope' }}"></span>
      </p>
      <p class="flex-line">
        <span>Utolsó:</span>
        <span> {{ lastTime(user) }} </span>
      </p>
      <button class="btn btn-default btn-block" (click)="selectUser(user)">
        Üzenetek
      </button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div *ngFor="let message of orderedMessages()"
      class="well col-xs-12 col-sm-12 col-md-10 col-lg-10 {{ message.isUserMessage || 'col-md-offset-2 col-lg-offset-2' }}">
      {{ message.text }}
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <textarea rows="15"
      class="form-control" placeholder="Írja le az üzenetét"
      [(ngModel)]="status.creator.messageContent">
    </textarea>
    <button class="btn btn-block btn-default" (click)="send()">
      Válasz
    </button>
  </div>
</div>
