<menu-navbar></menu-navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <button (click)="nextWeek('back')" class="btn btn-default btn-block">
        Előző hét
      </button>

      <button (click)="nextWeek('start')" class="btn btn-default btn-block">
        Ma
      </button>

      <button (click)="nextWeek('forward')" class="btn btn-default btn-block">
        Következő hét
      </button>

      <hr>

      <div class="well" *ngIf="status.reservationEditorOpened">
        <h4 *ngIf="!status.selectedReservation">Új foglalás</h4>
        <h4 *ngIf="!status.selectedReservation">{{ showDateTime(this.status.selectedQuarter) }}</h4>
        <h4 *ngIf="status.selectedReservation">Foglalás megtekintése</h4>
        <h4 *ngIf="status.selectedReservation">{{ showDateTime(status.selectedReservation.date) }}</h4>
        <hr>
        <div *ngIf="!status.selectedReservation">
          <select [(ngModel)]="status.selectedUser" class="btn btn-default btn-block">
            <option [ngValue]="null"
                    [selected]="status.selectedUser == null">
              Nincs felhasználó
            </option>
            <option *ngFor="let user of status.users" [ngValue]="user">
              {{ user.username }}
            </option>
          </select>

          <select [(ngModel)]="status.selectedEvent" class="btn btn-default btn-block">
            <option [ngValue]="null"
                    [hidden]="true" [selected]="status.selectedEvent == null">
              Esemény
            </option>
            <option *ngFor="let event of status.events" [ngValue]="event">
              {{ event }}
            </option>
          </select>
        </div>

        <div *ngIf="status.selectedReservation">
          <p>{{ status.selectedReservation.user ? status.selectedReservation.user.username : null }}</p>
          <p>{{ status.selectedReservation.event }}</p>
        </div>

        <hr>

        <button *ngIf="!status.selectedReservation"
                [disabled]="disabled()"
                class="btn btn-default btn-block" (click)="addReservation()">
          Mentés
        </button>
        <button *ngIf="status.selectedReservation"
                class="btn btn-default btn-block" (click)="deleteReservation()">
          Törlés
        </button>
        <button class="btn btn-default btn-block" (click)="closeEditor()">Mégse</button>
      </div>

    </div>

    <div *ngFor="let day of status.week()"
         class="col-xs-12 col-sm-12 col-md-{{ selected(day) ? '3' : '1' }} col-lg-{{ selected(day) ? '3' : '1' }} block-container">
      <div class="one-day {{ isHoliday(day) && 'holiday-disabled' }}">
        <div class="day-header">
          <h4>{{ printDate(day) }}</h4>
          <button (click)="selectDay(day)" class="btn btn-default">
            {{ printDayName(day.getDay()) }}
          </button>

          <button (click)="addHoliday()"
            *ngIf="selected(day) && ((!hasHoliday(day) && isWeekDay(day)) || (!hasHoliday(day) && !isWeekDay(day) && hasAddition(day)))"
            class="btn btn-default">Nincs rendelés</button>

          <button *ngIf="selected(day) && hasHoliday(day)" (click)="deleteHoliday()"
                  class="btn btn-default">Szabadság törlése</button>

          <button *ngIf="selected(day) && !isWeekDay(day) && !hasAddition(day)" (click)="addAddition()"
                  class="btn btn-default">Munkanap</button>

          <button *ngIf="selected(day) && hasAddition(day)" (click)="deleteAddition()"
                  class="btn btn-default">Munkanap törlése</button>
        </div>
        <hr>
        <div class="day-body">
          <div *ngFor="let quarter of status.quarters(day)"
               class="quarter {{ hasUserReservation(quarter) && 'reservation-colored'}} {{ hasBreak(quarter) && 'break-colored' }}">
            <span class="quarter-time">
              {{ printHours(quarter.getHours()) }}:{{ printMinutes(quarter.getMinutes()) }}
            </span>

            <span *ngIf="this.status.selectedDay.getDay() == day.getDay()">
              <span *ngIf="isPossibleVaccinate(quarter)">
                <button *ngIf="getRelatedRestriction(quarter) == null"
                        class="btn btn-default" (click)="addRestriction(quarter)">
                  <i class="material-icons md-12">colorize</i>
                  <span class="glyphicon glyphicon-check"></span>
                </button>

                <button *ngIf="getRelatedRestriction(quarter) != null"
                        class="btn btn-default" (click)="deleteRestriction(getRelatedRestriction(quarter))">
                  <i class="material-icons md-12">colorize</i>
                  <span class="glyphicon glyphicon-unchecked"></span>
                </button>
              </span>

              <button class="btn btn-default" (click)="editQuarter(quarter)">
                <span class="glyphicon glyphicon-info-sign"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
