<menu-navbar></menu-navbar>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <button (click)="nextWeek('back')" class="btn btn-default btn-block">
        Előző hét
      </button>

      <button (click)="nextWeek('start')" class="btn btn-default btn-block">
        Ma
      </button>

      <button (click)="nextWeek('forward')" class="btn btn-default btn-block">
        Következő hét
      </button>

      <hr>

      <div class="well" *ngIf="status.editedReservation">
        <h4 *ngIf="status.editedReservation.id">Foglalás megtekintése</h4>
        <h4 *ngIf="!status.editedReservation.id">Új foglalás</h4>
        <h4>{{ printer.showDateTime(this.status.editedReservation.date) }}</h4>
        <hr>
        <div *ngIf="!status.editedReservation.id">
          <select [(ngModel)]="status.editedReservation.user"
                  class="btn btn-default btn-block">
            <option [ngValue]="null"
                    [selected]="status.editedReservation.user == null">
              Nincs felhasználó
            </option>
            <option *ngFor="let user of status.users" [ngValue]="user">
              {{ user.username }}
            </option>
          </select>

          <select [(ngModel)]="status.editedReservation.event"
                  class="btn btn-default btn-block">
            <option [ngValue]="null" [hidden]="true"
                    [selected]="!status.editedReservation.event">
              Esemény
            </option>
            <option *ngFor="let event of status.events" [ngValue]="event">
              {{ event }}
            </option>
          </select>
        </div>

        <div *ngIf="status.editedReservation.id">
          <p>{{ status.editedReservation.user ? status.editedReservation.user.username : null }}</p>
          <p>{{ status.editedReservation.event }}</p>
        </div>

        <hr>

        <button *ngIf="!status.editedReservation.id"
                [disabled]="status.disabledNewReservation()"
                class="btn btn-default btn-block" (click)="addReservation()">
          Mentés
        </button>
        <button *ngIf="status.editedReservation.id"
                class="btn btn-default btn-block"
                (click)="deleteReservation()">
          Törlés
        </button>
        <button class="btn btn-default btn-block"
                (click)="closeEditor()">
          Mégse
        </button>
      </div>

    </div>

    <div *ngIf="weeklyData">
      <div *ngFor="let day of weeklyData.days"
           class="col-xs-12 col-sm-12 col-md-{{ isSelected(day.date) ? '3' : '1' }} col-lg-{{ isSelected(day.date) ? '3' : '1' }} block-container">
        <div class="one-day {{ colorHoliday(day) && 'holiday-disabled' }}">
          <div class="day-header">
            <h4>{{ printer.printDate(day.date, isSelected(day.date)) }}</h4>

            <button (click)="selectDay(day.date)" class="btn btn-default">
              {{ printer.printDayName(day.date.getDay()) }}
            </button>

            <button class="btn btn-default"
                    (click)="addHoliday()" *ngIf="showAddHoliday(day)">
              <span class="glyphicon glyphicon-home"></span>
              <span class="glyphicon glyphicon-check"></span>
            </button>
            <button class="btn btn-default"
                    (click)="deleteAddition(day.addition)" *ngIf="showRemoveAddition(day)">
              <span class="glyphicon glyphicon-home"></span>
              <span class="glyphicon glyphicon-check"></span>
            </button>
            <button class="btn btn-default"
                    [disabled]="status.disabledNewAddition()"
                    (click)="addAddition()" *ngIf="showAddAddition(day)">
              <span class="glyphicon glyphicon-home"></span>
              <span class="glyphicon glyphicon-unchecked"></span>
            </button>
            <button class="btn btn-default"
                    (click)="deleteHoliday(day.holiday)" *ngIf="showRemoveHoliday(day)">
              <span class="glyphicon glyphicon-home"></span>
              <span class="glyphicon glyphicon-unchecked"></span>
            </button>

            <button class="btn btn-default"
                    (click)="addRestriction()" *ngIf="showAddRestriction(day)">
              <i class="material-icons md-12">colorize</i>
              <span class="glyphicon glyphicon-check"></span>
            </button>
            <button class="btn btn-default"
                    (click)="deleteRestriction(day.restriction)" *ngIf="showRemoveRestriction(day)">
              <i class="material-icons md-12">colorize</i>
              <span class="glyphicon glyphicon-unchecked"></span>
            </button>
          </div>
          <hr>
          <div class="day-body">
            <div *ngFor="let slot of day.slots"
                 class="quarter {{ colorReservation(slot) && 'reservation-colored'}} {{ colorBreak(slot) && 'break-colored' }}">
            <span class="quarter-time">
              {{ printer.printHours(slot.start.getHours()) }}:{{ printer.printMinutes(slot.start.getMinutes()) }}
            </span>

            <span *ngIf="isSelected(day.date)">
              <button class="btn btn-default" (click)="openEditor(slot)">
                <span class="glyphicon glyphicon-info-sign"></span>
              </button>
            </span>
            </div>

            <div *ngIf="showSelector(day)" class="addition-selector">
              <select [(ngModel)]="status.selectedSchema"
                      class="btn btn-default btn-block">
                <option [ngValue]="null"
                        [selected]="status.selectedSchema == null">
                  -
                </option>
                <option *ngFor="let schema of daySchemas()" [ngValue]="schema">
                  {{ schema.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
