<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
    <div class="row">
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <dashboard-element
          [text]="'Üzenetek'" [icon]="'comment'" [route]="'messages'">
        </dashboard-element>
      </div>

      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <dashboard-element
          [text]="'Naptár'" [icon]="'calendar'" [route]="'calendar'">
        </dashboard-element>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <dashboard-element
          [text]="'Szerkesztés'" [icon]="'edit'" [route]="'edit'">
        </dashboard-element>
      </div>

      <div class="col-xs-12 cols-sm-12 col-md-6 col-lg-6">
        <dashboard-element
          [text]="'Tanácsok'" [icon]="'question-sign'" [route]="'faq'">
        </dashboard-element>
      </div>
    </div>
  </div>
</div>
