<input
  type="password"
  class="form-control"
  [(ngModel)]="status.creator.passwordAgain"
  placeholder="Jelszó még egyszer"
  [disabled]="status.isPending()">

<input-info
  *ngIf="!status.passwordIsValid()"
  [type]="'default'"
  [text]="'Először adjon meg egy érvényes jelszót'">
</input-info>

<input-info
  *ngIf="status.passwordIsValid() && !status.passwordMatches()"
  [type]="'default'"
  [text]="'Nem egyezik a jelszóval!'">
</input-info>

<input-info
  *ngIf="status.passwordIsValid() && status.passwordMatches()"
  [type]="'success'"
  [text]="'Egyezik'">
</input-info>
