<div *ngIf="!minified" class="dark-well">
  <div class="user-sign">
    <span class="glyphicon glyphicon-user"></span>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <confirm-code-input></confirm-code-input>
    </div>
  </div>

  <div class="button-container">
    <button
      class="btn btn-success"
      [disabled]="status.isPending() || status.isSuspended()"
      (click)="attemptConfirm()">
      Megerősítés<span class="glyphicon glyphicon-ok-circle"></span>
    </button>
  </div>

  <div class="info-container">
    <p>
      Amennyiben nem kapott email-t, vagy már lejárt
      <button
        class="inline-text-button"
        (click)="resendRequest()">
        kérje újra.
      </button>.
    </p>
  </div>
</div>

<div *ngIf="minified" class="dark-well">
  <p class="minified-alert">
    <span class="glyphicon glyphicon-alert"></span>&nbsp;&nbsp;
    Erősítse meg a fiókját - nézze meg az email-jeit.
  </p>
  <div class="input-group">
    <confirm-code-input></confirm-code-input>
    <span class="input-group-btn">
      <button
        class="btn btn-default"
        [disabled]="status.isPending() || status.isSuspended()"
        (click)="attemptConfirm()">
        Megerősítés<span class="glyphicon glyphicon-ok-circle"></span>
      </button>
    </span>
  </div>
</div>
