<nav class="navbar navbar-inverse navbar-fixed-top" id="margin-fix">
  <navbar-logo></navbar-logo>
  <div class="navbar-form navbar-right" id="navbar-margin-fix">
    <div class="form-group">
      <input
        [(ngModel)]="status.creator.credential"
        type="text"
        class="form-control"
        placeholder="Felhasználónév vagy email">

      <input
        [(ngModel)]="status.creator.password"
        type="password"
        class="form-control mobile-fix-input"
        placeholder="Jelszó">
    </div>

    <button
      class="btn btn-default"
      [disabled]="status.isDisabled()"
      (click)="attemptLogin()">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      Bejelentkezés
    </button>

    <reset-popup></reset-popup>
  </div>
</nav>
