<input
  class="form-control"
  [(ngModel)]="status.creator.email"
  (ngModelChange)="checkEmail()"
  placeholder="Email cím"
  [disabled]="status.isPending()">

<input-info
  *ngIf="!status.emailIsValid()"
  [type]="'default'"
  [text]="'Adjon meg egy érvényes email címet'">
</input-info>

<input-info
  *ngIf="status.emailIsValid() && status.emailIsChecked()"
  [type]="'default'"
  [text]="'Ellenőrzés...'">
</input-info>

<input-info
  *ngIf="status.emailIsValid() && !status.emailIsChecked() && !status.emailIsAvailable()"
  [type]="'error'"
  [text]="'Már használatban van!'">
</input-info>

<input-info
  *ngIf="status.emailIsValid() && !status.emailIsChecked() && status.emailIsAvailable()"
  [type]="'success'"
  [text]="'Elfogadva'">
</input-info>
