<div>
  <div class="info-container">
    <p>
      <img src="assets/profile.jpg" width="250" class="floating-image"/>
      <span class="title">Üdvözlöm!</span><br>
      Ön Dr. Baranyi Judit gyermekorvos weboldalát látja.<br>
      Köszönöm, hogy felkereste az oldalamat, és hogy ezen keresztül intézi gyermeke ügyét.
      Tájékozódjon az elérhetőségeimről, a rendelőmben lévő védőnőkről, valamint
      olvassa el a gyakran elhangzó kérdéseket akér regisztráció nélkül is. Amennyiben
      kérdése van, regisztráljon - (természetesen ingyenes),
      és tegye fel privát kérdését, vagy foglaljon időpontot.
    </p>
  </div>
</div>
