<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="mini-container" id="info-container">
        <h4>Üdvözlöm!</h4>
        <p>
          Ön Dr. Baranyi Judit gyermekorvos weboldalát látja.<br>
          Köszönöm, hogy felkereste az oldalamat, és hogy ezen keresztül intézi gyermeke ügyét.
          Tájékozódjon az elérhetőségeimről, a rendelőmben lévő
          <span class="welcome-link" (click)="redirect('doctors')">védőnőkről</span>, valamint
          olvassa el a <span class="welcome-link" (click)="redirect('faq')">gyakran elhangzó kérdéseket</span> akár regisztráció nélkül is. Amennyiben
          kérdése van, regisztráljon - (természetesen ingyenes),
          és tegye fel privát kérdését, vagy foglaljon időpontot.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="mini-container">
        <h6>Rendelés</h6>
        <p class="one-time"><span>Hétfő</span><span>16:00 - 20:00</span></p>
        <p class="one-time"><span>Kedd</span><span>16:00 - 18:00</span></p>
        <p class="one-time"><span>Szerda</span><span>10:00 - 12:00</span></p>
        <p class="one-time"><span>Csütörtök</span><span>14:00 - 18:00</span></p>
        <p class="one-time"><span>Péntek (páros)</span><span>8:00 - 12:00</span></p>
        <p class="one-time"><span>Péntek (páratlan)</span><span>16:00 - 20:00</span></p>
        <hr>
        <h6>Oltás, tanácsadás</h6>
        <p class="one-time"><span>Kedd</span><span>14:00 - 16:00</span></p>
        <p class="one-time"><span>Szerda</span><span>8:00 - 10:00</span></p>
        <p class="one-time"><span>Csütörtök (csak ha betelt)</span><span>14:00 - 16:00</span></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="mini-container">
        <h6>Elérhetőség</h6>
        <p class="one-time"><span>Telefon (rendelési időben)</span><span>06-1/405-87-40</span></p>
        <p class="one-time"><span>Mobil (csak sürgős!)</span><span>06-30/966-16-31</span></p>
        <hr>
        <h6>Böngésszen tovább</h6>
        <div class="buttons">
          <button class="btn btn-default btn-block" (click)="redirect('about')">Rólam</button>
          <button class="btn btn-default btn-block" (click)="redirect('doctors')">Védőnők</button>
          <button class="btn btn-default btn-block" (click)="redirect('faq')">Gyakori kérdések</button>
        </div>
      </div>
    </div>
  </div>
</div>
