.floating-image {
  float: left;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 0 0 7px #555;
}

.info-container {
  padding: 0 50px 0 50px;
}

.title {
  text-align: center;
  color: purple;
  margin-bottom: 20px;
  font-size: 1.5em;
  display: block;
}

p {
  text-align: justify;
  font-size: 1.2em;
  color: #555;
}

.welcome-link {
  color: purple;
  cursor: pointer;
}
