textarea {
  margin-bottom: 10px;
}

.with-ws {
  white-space: pre-line;
}

.dark-well {
  text-align: left;
  margin-bottom: 10px;
}

.align-right {
  text-align: right;
}

.mobile-button-fix {
  margin-bottom: 20px;
}
