.block-container {
  padding: 10px;
}

.container {
  padding-top: 90px;
}

#background {
  position: relative;
  min-height: 100vh;
}

#background:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/home.jpg');
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  opacity : 0.15;
  z-index: -1;
}

.hoverable-container {
  padding: 20px;
  transition: 1.2s;

}

.hoverable-container:hover {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  transition: 1.2s;
  cursor: all-scroll;
}

.flex-p {
  display: flex;
  justify-content: space-between;
}
