<menu-navbar></menu-navbar>

<div id="background-big-4">
  <div class="container">
    <div *ngIf="status.isPending()" class="full-page-loading">
      <span class="glyphicon glyphicon-refresh loading-circle"></span>
    </div>

    <div *ngIf="status.message" class="row block-container">
      <div class="main-message main-message-{{ status.message.type }}">
        {{ status.message.title }}:&nbsp;&nbsp;{{ status.message.text }}
      </div>
    </div>

    <hr *ngIf="status.message">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <calendar-info></calendar-info>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div *ngIf="!status.isPending()">
          <div *ngIf="status.ownReservations.length > 0">
            <div  *ngFor="let reservation of status.ownReservations" class="dark-well">
              <p class="flex-p">
                <span>{{ reservation.event }} - {{ reservation.childName }}</span>
                <span>
              {{ printer.showDate(reservation.date) }}
              &nbsp;-&nbsp;
              {{ printer.showTime(reservation.date) }}
            </span>
              </p>
              <button class="btn btn-default btn-block" (click)="deleteReservation(reservation)">
                Lemondás
              </button>
            </div>
          </div>
        </div>

        <div class="dark-well" *ngIf="!status.editorOpened">
          <button class="btn btn-default btn-block" (click)="openEditor()">
            Új foglalás
          </button>
        </div>

        <div *ngIf="status.editorOpened" class="dark-well">
          <div class="about-reservation-container">
            <div class="about-reservation">
              <p *ngIf="status.selectedEvent">{{ status.selectedEvent }}</p>
              <p *ngIf="status.selectedDay" class="flex-p">
                <span>{{ printer.showDate(status.selectedDay.date) }}</span>
                <span *ngIf="status.selectedSlot">{{ printer.showTime(status.selectedSlot.date) }}</span>
              </p>
            </div>
          </div>

          <select *ngIf="status.showEventSelect()"
                  class="btn btn-default dropdown-toggle btn-block"
                  [(ngModel)]="status.selectedEvent">

            <option [ngValue]="null" [hidden] ="true"
                    [selected]="!status.selectedEvent">
              Válasszon eseményt
            </option>

            <option *ngFor="let event of getEvents()" [ngValue]="event">
              {{ event }}
            </option>

          </select>

          <select *ngIf="status.showDaySelect()"
                  class="btn btn-default dropdown-toggle btn-block"
                  [(ngModel)]="status.selectedDay">

            <option [ngValue]="null" [hidden] ="true"
                    [selected]="!status.selectedDay">
              Válasszon napot
            </option>

            <option *ngFor="let day of getWeeksDays(0)" [ngValue]="day">
              {{ printer.showDate(day.date) }}
            </option>

            <option [ngValue]="null" [disabled] ="true">
              &nbsp;---&nbsp;Jövő hét&nbsp;---&nbsp;
            </option>

            <option *ngFor="let day of getWeeksDays(1)" [ngValue]="day">
              {{ printer.showDate(day.date) }}
            </option>

            <option [ngValue]="null" [disabled] ="true">
              &nbsp;---&nbsp;Két hét múlvat&nbsp;---&nbsp;
            </option>

            <option *ngFor="let day of getWeeksDays(2)" [ngValue]="day">
              {{ printer.showDate(day.date) }}
            </option>

            <option [ngValue]="null" [disabled] ="true">
              &nbsp;---&nbsp;Három hét múlvat&nbsp;---&nbsp;
            </option>

            <option *ngFor="let day of getWeeksDays(3)" [ngValue]="day">
              {{ printer.showDate(day.date) }}
            </option>

          </select>

          <select *ngIf="status.showSlotSelect()"
                  class="btn btn-default dropdown-toggle btn-block"
                  [(ngModel)]="status.selectedSlot">

            <option [ngValue]="null" [hidden] ="true"
                    [selected]="!status.selectedSlot">
              Válasszon időpontot
            </option>

            <option *ngFor="let slot of getSlotsForDay()" [ngValue]="slot">
              {{ printer.showTime(slot.date) }}
            </option>

          </select>

          <input *ngIf="status.showChildName()"
            type="text"
            class="form-control child-name-input"
            [(ngModel)]="status.childName"
            placeholder="{{ getPlaceholder() }}">

          <button  *ngIf="status.showCreateButton()" class="button-container"
            class="btn btn-default btn-block btn-create btn-create"
            (click)="createReservation()"
            [disabled]="status.isDisabled()">
            Foglalás
          </button>
          <button class="btn btn-default btn-block btn-cancel"
                  (click)="closeEditor()">
            Mégse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
